:root {
    --blue: #001A8E;

    --cyan: #26C8FB;
    --yellow: #FCD768;
    --pink:#FF09A4;
    --beige:#FFF4F8;
    --white: #ffffff;
  }



header{
    position: sticky;
    top: 0;
    z-index: 5;
    background: rgb(246,241,173);
    background-image: linear-gradient(180deg, rgba(246,241,173,1) 0%, rgba(235,226,28,1) 89%);
}



nav{
    height: 6.5rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: flex-end;
    /* border-bottom: 2px solid pink; */
}
.sscreen{
    display: none;
    padding: 0.5em;
    background-color: var(--beige);
    justify-content: center;

}
.sscreen >.search-container{
    border: #001A8E solid 2px;
}

.search-container{
    background-color: var(--beige);
    padding: 0.5rem 0.5rem;
    border-radius: 3rem;
    width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 5px;
    color: var(--pink);
    width: fit-content;
    font-size: 1.2rem;
}
.search-icon{
    background-color: var(--pink);
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    border: none;
    justify-content: center;
    border-radius: 50%;
}

.search-icon:active{
    background-color: var(--yellow);

}

.search-icon:active >i{
    color: var(--pink);
}

.other-nav-items{
    display: flex;
    margin-right: 2rem;
    gap: 1.5rem;
    
}

.nav-icon i{
    color: var(--white);
}

.cart-icon i{
    position: relative;
}
.cart-icon i::after{
    content: '5';
    display: flex;
    height: 12px;
    width: 12px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    font-size: 9px;
    right: -3px;
    align-items: center;
    justify-content: center;

}

.modal-backdrop{
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.other-nav-items>div>i{
    font-size: 1.2rem;
    font-weight: 400;
}

.other-nav-items div:hover > i{
    color: #FF09A4;
}

.other-nav-items i{
    font-size: 1.8rem;
}
.other-nav-items button div{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.header-menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    gap: 1.5rem;
    padding: 0.3rem 0 0.3rem 2rem;
    background-color: var(--beige);
    /* border: 1px solid #f0f0f0; */
}

.header-menu-option{
    display: flex;
    align-items: center;
    text-decoration: var(--pink);
    padding: 0.5rem 0;
    gap: 5px;
    position: relative;
    cursor: pointer;
}

.header-menu-option > .menu-icon{
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-menu-option::after{
    content: '';
    height: 1px;
    width: 100%;
    transform: scale(0);
    /* scale: 0; */
    background-color: var(--pink);
    position: absolute;
    left: 0;
    bottom: 7px;

}

.header-menu-option:hover::after{
    /* width: 100%; */
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.menu-icon>i{
    
    font-weight: 700;
    color: var(--blue);
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.menu-text{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: var(--blue);
    font-size: 1.1rem;
}

.header-menu-option:hover > .menu-text, .header-menu-option:hover > .menu-icon>i{
    color: var(--pink);
    
    
}

.active-menu-option > .menu-text, .active-menu-option > .menu-icon>i{
    color: var(--pink);   

}

.active-menu-option::after{
    width: 100%;
}

.backbutton{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: transparent;
    outline: transparent;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.backbutton:hover{
    background-color: var(--pink);
    border: 1px solid var(--pink);

}

.backbutton:hover a i{  
    color: whitesmoke;
}

.backbutton:active{
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    color: var(--blue);
    transform: scale(0.9);
}