/* @import url("https://use.typekit.net/fcz5wla.css"); */
@import url("https://use.typekit.net/fcz5wla.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import url("./header.css");
@import url("./hero.css");
@import url("./footer.css");


:root {
  --blue: #001A8E;
  --cyan: #26C8FB;
  --yellow: #FCD768;
  --pink:#FF09A4;
  --green:#00796b;
  --red: rgb(228, 0, 0);
  --primaryFont: "alegreya-sans-sc", sans-serif;
  --secondaryFont: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --thirdFont: 'Lato', sans-serif;
  --beige:#FFF4F8;
  --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;



}

.cart-item-img{
  width: 4rem;
  height: 4rem;
}
.cart-item-img img{
  width: 4rem;
  height: auto;
}

.cart-item-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-name-box{
  display: flex;
  justify-content: space-between;
}


html{
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
}

.menu-container{
  display: none;
}
.menu-container button{
  background-color: transparent;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  border: none;
  z-index: 2;
  cursor: pointer;

}

.menu-container button i{
  font-size: 2rem;
  color: var(--white);

}



.featured-content{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.featured-title{
    color: #363434;
    font-size: 1.5rem;
    font-weight: 600;
    /* position: relative; */
    /* left: 50px; */
    /* top: 12px; */
    letter-spacing: -1px;
    padding: 0 1rem;
    width: 100%;
    text-align: center;
    /* width: fit-content; */
    background-color: #fff;
    z-index: 1;

}

.featured-cards-container{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    overflow-x: scroll;
    padding: 1rem 0;
    border: 2px solid #e0dede;
    margin: 2rem 0;
    height: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    align-items: center;
}

.featured-card{
    
    width: fit-content;
    /* height: 13rem; */
    height: auto;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: #000 solid 1px; */
    /* border-radius: 50%; */
}
.featured-card > div{
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured-card img{
    height: 7rem;
    width: 7rem;
    border: 1px solid #343434;
    border-radius: 50%;
    outline: none;
    object-fit: contain;

}


  .trending-container{
    padding: 2rem;   
    
  }
  .trendingbar{
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .trending-title{
    color: var(--cyan);
    font-family: var(--primaryFont);
    text-align: center;
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px var(--yellow),
    0 0 30px var(--yellow),
    0 0 40px var(--yellow),
    0 0 55px var(--yellow);
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 800;
    /* letter-spacing: -1px; */
  }



  .trending-list{
    display: flex;
    gap: 1rem;
  }

  .trending-link-button{
    color: #594b4b;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    font-weight: 600;
    border-radius: 30px;
    font-size: 0.75rem;
    height: 2.5rem;
    
  }

  .active{
    background-color: #6633cc;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .trending-card-list .trending-card-item{
    list-style: none;
    width: 14rem !important;
    display: flex;
    justify-content: center;

  }

  .trending-card-wrapper{
    max-width: 1200px;
    margin: 2rem 4rem;
    overflow: hidden;
  }

  .trending-card-link{
    width: 13rem;
    height: 23rem;
    border: 2px solid #e0dede;
    user-select: none;
    display: block;
    position: relative;
    margin: 0rem 0.5rem 2rem 0.5rem;
    margin-bottom: 2rem;
    padding: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 6px;

  }

  .trending-card-imagecont{
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    border-radius: 5px;

  }

  .trending-card-image{
    width: 90%;
    height: auto;
    object-position: center;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    
  }

  b{
    color: var(--red);
  }

  .trending-card-price{
    color: grey;
    transition: 0.2 ease;
    font-weight: 700;
    margin:  0;
    font-size: 0.8rem;
    width: fit-content;
  }
  .trending-card-list .trending-card-link .trending-card-title{
    font-weight: 600;
    font-family: var(--secondaryFont);
    color: var(--blue);
    letter-spacing: -1px;
    /* color: var(--pink); */
    white-space: break-word;
  }

  
  

  .trending-card-list .trending-card-link .trending-card-button{
    height: 2.5rem;
    width: calc(100% - 20px);
    border-radius: 5px;
    background-color: var(--red);
    margin-top: 1rem;
    cursor: pointer;
    position: absolute;
    bottom:10px;
    left: 10px;
    font-weight: 700;
    color: var(--beige);
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    border: none;
    
    
  }

  .trending-card-link:hover{
    cursor: pointer;
    border: 2px solid var(--yellow);

  }

  .trending-card-link:hover img{
    transform: scale(1.2);
  }

  .trending-card-button:hover{
    background-color: var(--yellow) !important;
    color: var(--blue) !important;
    
    
  }


  


  .swiper-button-next, .swiper-button-prev{
    color: #363434 !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    border-radius: 50%;
  }

  .swiper-button-next::after, .swiper-button-prev::after{
    font-size: 0.8rem !important;
    

  }
  .swiper-button-prev:hover, .swiper-button-next:hover{
    background-color: #fd6b22;
    border-color: #fd6b22;
    color: whitesmoke !important;
  }

  .dog-card-list .card{
    border-radius: 12px;
  }

  .book-btn{
    background-color: var(--red) !important;
    border: var(--red) 1px solid !important;
    width: 100% !important;
  }

.articles-btn{
  background-color: transparent; 
  padding: 1rem 2rem; 
  border-radius: 20px; 
  border: #ff09a4 1px solid;
  margin: 3rem 0;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.articles-btn:hover{
  background-color: #ff09a4 ;
  color: whitesmoke;
}  

  .shopby-pets{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #dfeff9;
    padding: 1rem 2rem;
  }
  .shopby-pets::before{
    content: '';
    height: 5rem;
    left: 0;
    width: 100%;
    position: absolute;
    top: -5rem;
    border-color: #000;
    background-image: url('./assets/shopbefore.png');

  }
  .shopby-pets::after{
    content: '';
    height: 5rem;
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;
    bottom: -5rem;
    border-color: #000;
    background-image: url('./assets/shopafter.png');

  }

  .shopby-pets-title{
    color: #363434;
  }

  .shop-category-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* flex-direction: column; */
    gap: 1rem;
  }

  .shop-category{
    height: 5rem;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15rem;
    cursor: pointer;
    background-color: #8f67df;
  }

  .shop-category .text{
    font-weight: 600;
    font-size: 1.1rem;
  }
  .angle-right-container i{
    color: #6633cc;
  }

  .shop-category:hover > .angle-right-container{
    background-color: #fd6b22;
  }

  .shop-category:hover > .angle-right-container i{
    color: whitesmoke;
  }

  .shop-category:hover > .text{
    color: #fd6b22;
  }

 .hidden{
    opacity: 0 !important;
     
    transition: all 1s;
  }
  .show{
    opacity: 1 !important;
    animation-fill-mode: forwards;
}

  .hidden-right{
  transform: translateX(-100px);
  transition: all 1s;
  }

  .hidden-up{
    transform: translateY(100px);
    transition: all 1s;
    }

    .hidden-down{
      transform: translateY(-100px);
      transition: all 1s;
      }

      .show-down{
        transform: translateY(0px);
        animation-fill-mode: forwards;
      }

    .show-up{
      transform: translateY(0px);
      animation-fill-mode: forwards;
    }

  .show-right{
    transform: translateX(0px);
    animation-fill-mode: forwards;
  }

  .best-dogs-container{
    margin-top: 10rem;
    padding: 3rem  0 3rem 1.5rem;
    
  }

  .dogs-main-container{
    display: flex;
    margin-top: 4rem;
    flex-wrap: wrap;
    gap: 1rem;
  
  }


  .community-section {
    font-family: Arial, sans-serif;
    background-color: #ebf9fe;
    margin: 5rem 0;
    padding: 5rem 0;
}

.community-heading {
    /* background: #00796b; */
    font-family: var(--secondaryFont);
    font-weight: 500;
    text-align: center;
    padding: 20px;
}
.community-heading h1{
    color: var(--blue);
    font-weight: 800;
    font-size: 3rem;
    font-family: var(--primaryFont);
}
.actions{
    margin-top: 2rem;      
}

.community-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
}

.feed {
    flex: 2;
    margin-right: 20px;
}

.feed h3, .community h3, .topics h3, .events h3{
  font-family: var(--thirdFont);
  color: var(--blue);
  font-size: 1.2rem;
  font-weight: 600;

  
}
.feed p, .community p{

  font-family: var(--thirdFont);
}

.post {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.tags {
    display: block;
    margin-top: 10px;
    color: #00796b;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}


.community button{
    background: #00796b;
    color: white;
    padding: 10px;
    border: none;
    font-family: var(--primaryFont);
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
}
.community button:hover{
  background-color: var(--cyan);
  color: whitesmoke;
}

.community button:focus, .community button:active{
  background-color: var(--pink);
  color: whitesmoke;
}
.actions a{
    
    color: #00796b;
    padding: 10px;
    border: none;
    text-decoration:none;
    border-radius: 5px;
    cursor: pointer;
}
.sidebar {
    flex: 1;
  display:flex;
  flex-direction: column;
  gap: 2rem;
    
}

    .community, .topics, .events{
      background: white;
    padding: 15px;
    border-radius: 10px;
    }

    

.post button {
   
    color: grey;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .topics ul, .events ul{
      list-style:none;
    }

.social-media-container{
    font-family: Arial, sans-serif;
    /* background-color: #a7d7a9; */
  background-color: #48cb48;
    margin: 0;
    padding: 6rem 0;
    display: flex;
    justify-content: center;
}

.social-media-icon{
  height: 3rem;
  width: 3rem;

}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 900px;
}
.instagram-section, .whatsapp-section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    min-width: 300px;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.image-grid img {
    width: 100%;
    border-radius: 10px;
}
.whatsapp-card {
    background: #f0fff0;
    padding: 15px;
    border-radius: 10px;
}
.whatsapp-button {
    display: inline-block;
    background: #25D366;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}


.newsletter-container {
  margin: 10rem 0;
  padding: 12rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  position: relative;
  background-color: var(--cyan);
  /* background: url('image.png') center/cover no-repeat; */
}

.newsletter-title{
  font-size: 4rem;
  font-weight: 900;
  font-family: var(--primaryFont);
}

.newsletter-description{
  font-size: 1.2rem;
  font-family: var(--secondaryFont);
  letter-spacing: 2px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 150, 100, 0.8);
}
.newsletter {
  position: relative;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}
.input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 15px;
}
.input-box input {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}
.subscribe-button {
  background-color: var(--pink);
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.subscribe-button:hover {
  background-color: var(--yellow);
  color: var(--blue);
}
.privacy-text {
  font-size: 14px;
  margin-top: 10px;
  opacity: 0.8;
}

  .whatsapp-container{
    z-index: 2;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: transparent;
  }

  .whatsapp-container img{
    object-fit: cover;
    width: 2.5rem;
    height: auto;

  }

  .dogs-product-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto;
  }
.app-link-container img{
    width: 100%;
    object-fit: cover;
  }


  .cart-item{
    display: flex;
    height:4rem ;
    justify-content: space-between;
  }

  .cart-item-name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .cart-item-name, .cart-item-price, .cart-item-quantity{
    font-size: 0.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    /* width: 5rem; */
    color: #6633cc;
    text-align: center;
    word-wrap: break-word;


  }

  #checkout-btn{
    display: none;
    margin-top: 2rem;
    text-decoration: none;
  }

  #checkout-container{
    display: flex;
  }
  

  .checkout-button{
    background-color: #fd6b22;
    color: whitesmoke;
    padding: 0.5rem 0.8rem;
    border-radius: 10px;
    font-size: 0.7rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    gap: 0.5rem;
    display: flex;
    text-decoration: none;
  }

  .checkout-button{
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
  }

  .checkout-button i{

    font-size: 1.3rem !important;
  }



  .checkout-button:hover{
    background-color: #6633cc;
  }

  .dropdown-toggle{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .dropdown-toggle::after{
    display: none !important;
  }

  .total-text,.total-value{
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    width: 5rem;
    color: #fd6b22;
    text-align: center;
    word-wrap: break-word;


  }
  .cart-item-value{
    display: flex;
  }

  .addbtn, .removebtn{
    background-color: #fd6b22;
    color: whitesmoke;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 0.5rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  .total-tab{
    margin-top: 2.5rem;
  }

  .category-menu{
    display: none;
    padding: 2rem;
    position: fixed;
    width: 80%;
    left: 2rem;
    background-color: var(--white);
    top: 10rem;
  }

  .category, .subcategory{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
  }
  .category{
    color: var(--pink);
    font-weight: 500;
  }

  .subcategory{
    color: #363434;
  }



.card-title{
  color: var(--blue);
}

.card-text{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: -1px;
  user-select: text !important;
}

  @media screen and (max-width:1342px) {
    .featured-ad-container{
        grid-template-columns: auto;
    
  }

  .hero-title{
    font-size: 2.5rem;
  }
  .menu-container{
    display: block;
  }

  .hero-subtitle{
    top: 22rem;
  }
  /* .shop-link, .book-link{
    top: 25rem;
  } */

  .hero-btn-container{
    top: 25rem;
  }
}


@media screen and (max-width:1090px) {
    .featured-ad{
        width: 25rem;
        padding: 2rem;
        height: 15rem;
    }
    .featured-ad > div{
      gap: 0.2rem;
    }

    .shop-category-container{
        grid-template-columns: auto auto auto;
    }
    .hero-title{
        font-size: 2.5rem;
    }
    .hero-container{
      height: 100vh;
    }

    header nav > .search-container,header .header-menu{
      display: none;
      
  }

  .hero-btn-container{
    flex-direction: column;
  }

  header .sscreen{
    display: flex;
  }
}  
@media screen and (max-width:900px) {
    

    .featured-ad-container{
        grid-template-columns: auto;
    }
    .featured-ad{
        width: 30rem;
        height: 18rem;
    }
    
    .shop-category-container{
        grid-template-columns: auto auto ;
    }

    .hero-subtitle{
      top: 65%;
    }

    .hero-btn-container{

      top: 21rem;

    }
    .hero-img{
      display: none;
    }
    .hero-container{
      background-image: url('./img/dog.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: rgba(255, 255, 255, 0.3)
    }
    
    .shop-now-container{
      padding: 0.5rem 1rem;
    }

    #checkout-nav> .header-menu{
      display: none;
    
    }

    #checkout-nav> .search-container{
      display: none;
    
    }
    #checkout-nav> .other-nav-items{
      display: none;
    
    }

    
    /* .topbar-container {
        font-size: 0.8rem;
    } */
    
}

@media screen and (max-width:853px) {
  /* .special-offer{
    display: none;
  } */
  .hero-title{
    font-size: 2rem;
    
  }
  
  .hero-btn-container{
    flex-direction: row;
    top: 70%;
  }
  .dogs-main-container{
    justify-content: center;
  }
  .dogs-product-container{
    
    grid-template-columns: auto auto;
}

.footer-container {
  flex-direction: column;
  text-align: center;
}
  
}



@media screen and (max-width:600px) {

    .icon {
        display: none;
    }

    .featured-card img{
      height: 4rem;
      width: 4rem;

    }
    .featured-card div{
      font-size: 1rem;

    }
    nav{
        position:relative;
        
    }
    /* .cart-icon{
        position: absolute;
        right: 0.7rem;
        top: 34%;

    } */
    .hero-btn-container{
      flex-direction: row;
      left: 0;
      width: 100%;
      justify-content: center;
    }

    .hero-container{
      height:90vh;
    }

    .banner-container{
      margin: 0;
      height: 100%;
      width: 100%;
      justify-content: center;
      gap: 5rem;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.3);
    }
     
    
    .search{
        font-size: 1rem;
        min-width: 4.5rem;
        width: 29vw;
    }

    .logo-container{
        height: auto;
        width: 10rem;
    }

    .topbar-center-text , .topbar-center-discount{
        font-size: 0.7rem;
    }

    .header-menu{
        flex-wrap: wrap;
    }

    .hero-title{
      width: 100%;
      display: flex;
      top: 0;
      left: 0;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    .hero-subtitle{
      display: none;
    }
    
    
    .shop-link>div{
        font-size: 0.7rem;
        padding: 0.4rem 0.8rem;
    }

    .featured-ad{
        padding: 1rem;
        width: 22rem;
        height: 14rem;
    }

    .shop-category-container{
        grid-template-columns: auto;
    }

    .trending-container{
        padding: 1rem;
    }
    .trending-card-wrapper{
        margin:0;
    }
    .trending-card-item{
        width: 14rem !important;
    }
    .trending-card-imagecont{
        height: auto;
    }
    .trending-card-link{
        width: 14rem;
        height: 20rem;
    }

    .closebtn{
      position: relative;
      top: 0;
      right: 1rem;
      
    }

    .dogs-main-container .dogs-img-container img{
      width: 80vw;
      height: auto;
    }

    .cart-item{
      gap: 10px;
      justify-content: center;
    }
    
    
}

@media screen and (max-width:500px) {

 

  .dogs-product-container{
    grid-template-columns: auto;
  }
  
}


@media screen and (max-width:400px) {

    .header-menu-option{
        /* flex-wrap: wrap; */
        padding: 0;
    }
    .featured-content{
      padding: 1rem 10px;
    }
    .featured-title{
      font-size: 1.4rem;
    }

    .newsletter{
      padding: 1rem 0.5rem;
    }

    .featured-title{
      left: 10px;
    }
    .featured-ad{
        width: 18rem;
        height: 15rem;
    }
    
    /* .swiper-button-next, .swiper-button-prev{
        display: none !important;
    } */

    .hero-title{
      font-size: 1.5rem;
    }
    .best-dogs-container{
      padding: 3rem 0 3rem 1rem;
    }
    header nav {
      padding: 3px;
    }

    header .search{
      width: 260px;
    }
}